@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
}
.header-row {
  background-color: rgb(102, 179, 106);
  color: rgb(7, 7, 7);
  text-align: center;
}